<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}"></aside>
    <main>
        <div class="table-container">
            <h3>
                <a href="../usermanagement/master-perusahaan.html"> Konfirmasi Pencairan </a>
            </h3>
            <form method="get" class="filter" th:action="@{/prospect}">
                <select name="noAplikasi" id="noAplikasi">
                    <option value="#">noAplikasi</option>
                    <option value="#">1</option>
                    <option value="#">2</option>
                    <option value="#">3</option>
                </select>
                <input type="text" placeholder="&#xf002;  Nama Tabel">
                <button class="filter-button" type="submit">
                    Search
                </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th>Nomor Kontak</th>
                    <th>Dari</th>
                    <th>Subjek</th>
                    <th>Tanggal Pengajuan</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="action">
                        <a href="konfirmasi-pencairan-lihat.html" class="action-button update-button">
                            <i class="fas fa-edit" aria-hidden="true"></i> Ubah
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination" th:if="${numberOfPages} != 0">
                            <div>
                                <button>&laquo;</button>
                                <button>&lt;</button>
                                <span>Page 1 of 30</span>
                                <button>&gt;</button>
                                <button>&raquo;</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
    </main>
</div>
</body>
</html>