<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}"></aside>
    <main>
        <div class="detail-container">
            <h3>
                <a href="../usermanagement/master-perusahaan.html"> Konfirmasi Pencairan </a>
                >
                <a href="../usermanagement/master-perusahaan.html"> Ubah </a>
            </h3>
            <table class="detail-table">
                <tbody>
                <tr>
                    <td><label>Nomor Kontrak</label></td>
                    <td>
                        <span>aaaaaaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nomor Kontrak Lama</label></td>
                    <td>
                        <span>aaaaaaaaaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Status Debitur</label></td>
                    <td>
                        <span>jomblo</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Kode Debitur</label></td>
                    <td>
                        <span>aaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nama Depan Debitur</label></td>
                    <td>
                        <span>aaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nama Tengah Debitur</label></td>
                    <td>
                        <span>aaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nama Akhir Debitur</label></td>
                    <td>
                        <span>aaaaaaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Harga Pasar [a]</label></td>
                    <td>
                        <span>aaaaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Pelepasan Sparepart [b]</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Pelepasan Sparepart [c]</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Taksasi [a-b+c]</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Peringkat Debitur</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>LTV Maksimal Pencairan</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="label-nama">Tanggal Cair *</label></td>
                    <td>
                        <input id="tanggal-cair" name="tanggal-cair" type="date" required placeholder="&#xf133;   1 Januari 2025">
                        <div class="field-validation-error"></div>
                    </td>
                </tr>
                <tr>
                    <td><label class="label-nama">Tanggal Mulai Bayar Angsuran *</label></td>
                    <td>
                        <input id="tanggal-mulai-bayar-angsuran" name="tanggal-mulai-bayar-angsuran" type="date" required placeholder="&#xf133;   1 Januari 2025">
                        <div class="field-validation-error"></div>
                    </td>
                </tr>
                <tr>
                    <td><label class="label-nama">Nomor Kartu Anggota*</label></td>
                    <td>
                        <input id="nomor-kartu-anggota" name="nomor-kartu-anggota" type="text" required readonly value="38759347">
                        <div class="field-validation-error"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Pencairan (d)</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Bunga Berjalan (e)</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Biaya Kartu Anggota (f)</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Sisa Hutang Kontrak Lama (g)</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Sisa Nilai Pencairan (d-e-f-g)</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Periode Pembayaran</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Tenor</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nilai Angsuran</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Advance/Arrear</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Cara Pencairan</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Kepemilikan Rekening</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nomor Rekening</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Nama Rekening</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Bank</label></td>
                    <td>
                        <span>aaaaaaaaa</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="label-nama">Komentar</label></td>
                    <td>
                        <textarea id="komentar" name="komentar" required placeholder="Nandemonai..." rows="4" cols="50"></textarea>
                        <div class="field-validation-error"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="two-side">
                <button class="detail-button" type="submit">Kirim</button>
                <a class="action-button detail-button nandemonai-button" href="">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span>Lihat Survei</span>
                </a>
            </div>
        </div>
    </main>
</div>
</body>
</html>